<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>com.servlets.Accueil</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>com.servlets.Connexion</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Contact</servlet-name>
    <servlet-class>com.servlets.Contact</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>com.servlets.Inscription2</servlet-class>
   
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Map</servlet-name>
    <servlet-class>com.servlets.Map</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Map</servlet-name>
    <url-pattern>/map</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Profil</servlet-name>
    <servlet-class>com.servlets.Profil</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Profil</servlet-name>
    <url-pattern>/compte</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>com.servlets.Deconnexion</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.servlets.Admin</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Notif</servlet-name>
    <servlet-class>com.servlets.Notif</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Notif</servlet-name>
    <url-pattern>/notif</url-pattern>
  </servlet-mapping>
  
</web-app>